[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">18.*"
isort = "*"
pylint = "*"

[packages]
algoliasearch = "*"
beautifulsoup4 = "*"
click = "*"
cssmin = "*"
markdown = "*"
pelican = "*"
pelican-alias = "*"
requests = "*"
webassets = "*"

[requires]
python_version = "3.6"
