[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pelican = "*"
webassets = "*"
markdown = "*"
pelican-alias = "*"
requests = "*"
click = "*"
beautifulsoup4 = "*"
algoliasearch = "*"

[requires]
python_version = "3.6"
