<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/pure-min.css">
{% assets filters="scss,cssmin", output="css/main.min.css", "css/main.scss" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %}
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ MY_TWITTER_HANDLE }}" />
<meta name="twitter:creator" content="{{ MY_TWITTER_HANDLE }}" />
<meta property="og:url" content="{{ PUBLIC_URL }}" />
<meta property="og:title" content="{{ SITENAME }}" />
<meta property="og:description" content="{{ DESCRIPTION }}" />