<ul class="icon-list">
        <li id="em">
            <a href="mailto:feregrino@thatcsharpguy.com" class="contact">
                {% include 'svg/mail.svg' %}
            </a>
        </li>
        <li id="gh">
            <a href="https://github.com/ThatCSharpGuy" class="contact">
                {% include 'svg/github.svg' %}
            </a>
        </li>
        <li id="yt">
            <a href="https://www.youtube.com/c/thatcsharpguy" class="contact">
                {% include 'svg/youtube.svg' %}
            </a>
        </li>
        <li id="tw">
            <a href="https://twitter.com/io_exception" class="contact">
                {% include 'svg/twitter.svg' %}
            </a>
        </li>    
        <li id="fb">
            <a href="https://www.facebook.com/thatcsharpguy" class="contact">
                {% include 'svg/facebook.svg' %}
            </a>
        </li>
        <li id="gp">
            <a href="https://www.google.com/+Thatcsharpguy" class="contact">
                {% include 'svg/googleplus.svg' %}
            </a>
        </li>
    </ul>
    <ul class="icon-list">
        <li>
            <a href="#">
                {% include 'svg/tcsg.svg' %}
            </a>
        </li>
    </ul>