.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

dl {
    dt {
       font-weight: bold;
       margin: 2px 0;
    }
    dd{
        margin-left:20px;
       margin-bottom: 15px;
    }
}