/**
 * Post listing
 */

 .post-link {
    /* display: block; */
    /* font-size: 24px; */
}

.listed-post {
    margin: 10px 0 20px;
}
    
h2.post-title {
    font-size: 34px;
    @include media-query($on-laptop) {
        font-size: 28px;
    }

    a.tag {
        font-size: 0.45em;
        color: white;
        padding: 2px 4px 2px 4px;
        background-color: $accent-color;
    }
}
h3.post-title {
    font-size: 30px;
    @include media-query($on-laptop) {
        font-size: 24px;
    }
}

@include media-query($on-laptop) {
    .post-excerpt {
        font-size: 13px;
    }
}
